.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftVerticalBar{
    border-left: 10px solid white;
    height: 40vh;
    margin: 10%;
    padding: 10%;
    /* width: 100px; */
   
}
.rightVericalBar{
    border-right: 10px solid white;
    height: 40vh;
    margin: 10%;
    padding: 10%;
    /* width: 100px; */
   
}