.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftVerticalBar{
    border-left: 10px solid white;
    height: 40vh;
    min-width: 5%;
   
}
.rightVericalBar{
    border-right: 10px solid white;
    height: 40vh;
    min-width: 5%;
   
}