/* 
    Have to fix mobile, the square turns into a vertical rectangle right now.
    Make the whole square maximum(or minimum) so on mobile, the grid
    is square not a rectangle 
*/
.topRow, .middleRow, .bottomRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.space{
    border: 10px solid white;
    /* margin: 50px; */
    width: 20vh;
    height: 15vh; 
    background-color: black;
    padding: 5vh;
    color: white;
}
.clickXorO{
    color: white;
}



/* * {
    box-sizing: border-box;
  } */
/* .main{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
} */
/* .child */
/* bottomHorizontalBar */
/* .maincolumn:nth-of-type(4) { 
    z-index: 4;
} */
/* .maincolumn:nth-of-type(1) { 
    z-index: 1;
}

.maincolumn:nth-of-type(2) { 
    z-index: 2;
 }
 
.maincolumn:nth-of-type(3) { 
    z-index: 3; 
} */